# Mongo Uri Connection String, following the format of "mongodb://username:password@hostname:port" or a cloud provider URI format such as Mongo Atlas. Username/password can be ommited.
# Defaults to environment variable MONGO_URL or to "mongodb://localhost:27017" if that is unset.
config.MONGO_URI="mongodb://localhost:27017"

# Name of the mongo database to be created.
# Defaults to environment variable MONGO_DATABASE or to "arma-api" if that is unset.
config.MONGO_DATABASE="arma-api"

# Full path to log file containing query reports and other fun stuff
# Defaults to environment variable LOGFILE_PATH or to "/tmp/arma-api.log" if that is unset.
config.LOGFILE_PATH="/tmp/arma-api.log"

# ArrayList of mod authors that you wish to appear as modnames in the database (without the [])
# E.g. "vanilla,ace,rhs"
config.SUPPORTED_MODS="vanilla,ace,3cb,rhs,niarms,tacvests,tryk,vsm,rksl,acre,projectopfor,immersioncigs"

# Ignore these values, these are in case you wish to use environment variables as opposed to entering the values directly into this file (useful for CI/CD scenarios). The server.port property is so CI/CD services can bind spring boot to their web runner.
# If you wish to use environment variables instead of putting your details directly into this file, append "--spring.profiles.active=env" to your java execution string. Ensure all the environment variables are populated or the execution will fail.
#---
spring.config.activate.on-profile=env
server.port = ${PORT}
config.MONGO_URI = ${MONGO_URI}
config.MONGO_DATABASE = ${MONGO_DATABASE}
config.LOGFILE_PATH = ${LOGFILE_PATH}
config.SUPPORTED_MODS = ${SUPPORTED_MODS}
